<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    <link href="~/Content/MvcOurCompanyCSS.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        @{
            if (Session["FullName"] != null && Session["UserName"] != null)
            {
                <b>Hello, @Session["FullName"] (@Session["UserName"])</b>
            }
        }
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
