@model MvcOurCompanyBLL.User

@{
    ViewBag.Title = "Details User";
}

<h2>Details User</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Degree)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Degree)
    </div>
</fieldset>
<p>    
    @Html.ActionLink("Back to List", "ShowUsers") |
    @Html.ActionLink("Edit", "EditUser", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "DeleteUser_Get", new { id = Model.Id })
</p>
